@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

body {
  font-family: Roboto;
  background-color: #e5e5e5;
}

.links {
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
}

.navBar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  margin: 30px;
  margin-top: 6%;
}

.navBar .links {
  text-decoration: none;
  list-style: none;
  justify-content: center;
  display: inline-flex;
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  color: #6b708d;
  font-weight: 505;
}

.navBar .links a:hover {
  color: #072ac8;
}

.navBar > .circle {
  width: 60.53px;
  height: 18.46px;
  left: 170.64px;
  top: 86.91px;
  margin-top: 17px;
  margin-left: 30%;
}

.buttonOne {
  font-size: 17px;
  background-color: #072ac8;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 505;
  font-size: 13px;
  position: relative;
  top: 5px;
  text-decoration: none;
  list-style: none;
}

section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  margin-bottom: -50%;
  margin-top: 10%;
}

.header1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
  margin: 25% 0% 0% 15%;
  color: #292e47;
}

.paragraph1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6b708d;
  margin: 5% 13% 10% 16%;
}

.Images1 {
  background-image: url(hero-section/hero-image.png);
  background-repeat: round;
  width: 45vw;
  height: 50vw;
  margin: 0px 70px 0px 70px;
}

.image2 {
  display: flex;
  width: 28vw;
  height: 30vw;
  position: relative;
  top: -47%;
  left: -1%;
}

.image3 {
  display: flex;
  width: 26vw;
  height: 27vw;
  position: relative;
  top: -45%;
  left: 52%;
}

.li1 {
  margin-right: 60px;
}

.li3 {
  margin-left: 60px;
}

.buttonTwo {
  background-color: rgb(7, 42, 200);
  border: none;
  color: white;
  padding: 15px 32px;
  font-style: normal;
  font-weight: 505;
  font-size: 15px;
  position: relative;
  top: 3%;
  left: 15%;
  width: 150px;
  height: 52px;
  text-decoration: none;
  list-style: none;
}

.buttonThree {
  background-color: rgb(229, 229, 229);
  color: rgb(107, 112, 141);
  border: none;
  padding: 17px 26px;
  font-style: normal;
  font-weight: 505;
  font-size: 15px;
  line-height: 130%;
  position: relative;
  top: 3%;
  left: 15%;
  width: 150px;
  height: 52px;
  text-decoration: none;
  list-style: none;
}

.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  -webkit-filter: grayscale(100%);
}

.firstGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 6%;
  text-align: center;
}

.secondGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  text-align: center;
  grid-template-columns: 1fr;
}

.projectImg1 {
  width: 100%;
  height: 250px;
  background-image: url(projects-section/1.jpg);
  background-repeat: round;
}

.projectImg2 {
  width: 100%;
  height: 250px;
  background-image: url(projects-section/2.jpg);
  background-repeat: round;
}

.projectImg3 {
  width: 100%;
  height: 250px;
  background-image: url(projects-section/3.jpg);
  background-repeat: round;
}

.projectsGrid {
  background-color: white;
  width: 100%;
  height: 250px;
  position: relative;
  top: -10px;
}

.projectTittle {
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
  text-align: left;
  padding-left: 20px;
  margin: 30px 0px 10px 20px;
  font-family: "Roboto";
}

.projectParagraph {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
  text-align: left;
  padding-left: 20px;
  font-weight: 500;
  margin: 10px 0px 60px 20px;
  font-family: "Roboto";
}

.projectsLinks {
  list-style: none;
  font-size: 17px;
  line-height: 150%;
  color: #072ac8;
  text-align: left;
  text-decoration: none;
  margin: 30px 0px 40px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

section3 > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
  margin: 10% 0% -3% 8%;
}

.section4 {
  background-color: #292e47;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 622px;
  left: calc(50% - 1320px / 2);
  top: 2059px;
}

.sec4tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #f4f6fc;
  text-align: center;
  padding-top: 250px;
}

.p1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #ffc600;
}
.p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #f4f6fc;
  text-align: center;
}

.image4 {
  width: 150px;
  height: 150px;
  position: relative;
  top: -85%;
  left: 2%;
  display: flex;
}

.image5 {
  width: 150px;
  height: 150px;
  position: relative;
  top: -110%;
  left: 86%;
  display: flex;
}

.image6 {
  width: 150px;
  height: 150px;
  position: relative;
  top: -62%;
  left: 2%;
  display: flex;
}

.image7 {
  width: 150px;
  height: 150px;
  position: relative;
  top: -87%;
  left: 86%;
  display: flex;
}

section4 img {
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
  left: 42%;
  top: 9%;
}
.servicesGrid {
  width: 340px;
  height: 380px;
  margin: 30px;
  background-color: white;
  text-align: left;
  padding: 34px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px grey;
}

.servicesGrid > h5 {
  font-style: normal;
  font-weight: 502;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
  margin-top: 80px;
}

.servicesGrid > p {
  font-style: normal;
  font-weight: 402;
  font-size: 20px;
  line-height: 150%;
  color: #6b708d;
  margin-bottom: 35px;
}

.servicesGrid > li {
  font-style: normal;
  font-weight: 402;
  font-size: 17px;
  line-height: 150%;
  color: #072ac8;
}

.dot {
  background: #e5e5e5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

section5 > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
  margin: 10% 0% -3% 8%;
}

.icons {
  display: flex;
  top: -293px;
  position: relative;
}

section6 > .section6 > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #292e47;
  text-align: center;
  padding-top: 215px;
  margin-bottom: 10px;
}
.section6 {
  padding: 0px;
  background-color: #ffc600;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 622px;
  left: calc(50% - 1320px / 2);
  top: 3578px;
}

section6 > .section6 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #292e47;
  text-align: center;
  margin-bottom: 40px;
}

.emailImg {
  font-size: 17px;
  background-color: #072ac8;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 505;
  font-size: 13px;
  position: relative;
}

form {
  display: inline-block;
  position: relative;
  text-align: center;
  display: inline-flex;
  left: 39%;
}

.envelope {
  position: relative;
  left: 38px;
}

footer {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30%;
  color: #6b708d;
  margin: 5% 10% 5% 10%;
}

.options {
  grid-template-columns: 1fr 1fr;
  display: flex;
  position: relative;
  right: -300%;
  top: 40%;
}

.footer {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  width: 100%;
}

.firstDiv {
  margin-top: 4%;
  margin-left: 4%;
}

.footer .circle {
  width: 98.38px;
}

.Team {
  margin-top: 10%;
  margin-left: -60%;
  margin-right: 30%;
}

.Services {
  margin-top: 10%;
}

.About {
  margin-top: 10%;
  margin-left: 30%;
}

.Press {
  margin-top: 10%;
  margin-left: -60%;
  margin-right: 30%;
}

.Projects {
  margin-top: 10%;
}

.Privacy {
  margin-top: 10%;
  margin-left: 30%;
}

.secondDiv {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header1 {
    font-size: 45px;
    text-align: left;
    margin: -8% 0% 0% 21%;
    font-weight: 900;
  }

  .Images1 {
    width: 45vw;
    height: 50vw;
    margin: 0px 40px 0px 70px;
  }

  .image2 {
    display: flex;
    width: 43%;
    height: 25%;
    position: relative;
    top: -47%;
    left: 6%;
  }

  .buttonOne {
    font-size: 11px;
  }

  .brands {
    margin-top: 50%;
  }

  .buttonTwo {
    position: relative;
    top: 3%;
    left: 20%;
  }

  .buttonThree {
    position: relative;
    top: -4%;
    left: 108%;
  }

  .paragraph1 {
    margin: 2% -186% 10% 28%;
    text-align: center;
  }

  section3 .secondGrid {
    width: 100%;
    margin: 0%;
  }

  section3 .firstGrid {
    margin-left: 1%;
    margin-right: 1%;
  }

  .projectParagraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding-left: 21px;
    margin: 10px 0px 60px 20px;
    padding-right: 20%;
  }

  .image5 {
    position: relative;
    top: -110%;
    left: 76%;
    display: flex;
  }

  .image7 {
    position: relative;
    top: -87%;
    left: 77%;
    display: flex;
  }

  .servicesGrid {
    width: 88%;
    height: 66%;
    margin: 5%;
    padding-right: 10%;
  }

  .icons {
    display: flex;
    top: -130%;
    left: -11%;
    position: relative;
  }

  section5 .servicesGrid {
    width: 98%;
    height: 72%;
  }

  .servicesGrid > h5 {
    font-weight: 502;
    font-size: 20px;
    margin-top: 28%;
    margin-left: -7%;
  }

  .servicesGrid > li {
    top: -13%;
  }

  section5 .servicesGrid > p {
    font-size: 14px;
    margin-bottom: 68%;
    margin-left: -4%;
  }

  .Press {
    margin-top: 10%;
    margin-left: -230%;
    margin-right: 30%;
  }

  .Team {
    margin-top: 10%;
    margin-left: -230%;
    margin-right: 30%;
  }

  form {
    left: 27%;
  }

  section3 > h3 {
    margin: 10% 0% -3% 5%;
  }

  section5 > h3 {
    margin: 10% 0% -3% 5%;
  }

  footer {
    font-size: 15px;
    margin: 5% 5% 5% 5%;
  }
  section4 img {
    left: 36%;
  }

  section5 .servicesGrid > li {
    position: relative;
    top: -18%;
  }
}
@media only screen and (max-width: 480px) {
  section1 {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }

  .firstGrid {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    display: grid;
    margin: 0%;
    width: 100%;
    justify-content: center;
    height: auto;
  }

  .servicesGrid {
    width: 90%;
    justify-content: center;
  }

  section3 {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }

  section5 {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }

  .brands {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }

  .footer {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }

  form {
    left: 9%;
  }

  .header1 {
    text-align: left;
    margin: 0% 22% 0% 0%;
  }

  .paragraph1 {
    margin: 5% 27% 5% 0%;
  }

  .Images1 {
    width: 65vw;
    height: 69vw;
    margin: 35px 70px 0px 20px;
  }

  .image2 {
    top: -52%;
    left: 4%;
    width: 32vw;
    height: 34vw;
  }

  .image3 {
    left: 45%;
    width: 31vw;
    height: 32vw;
  }

  .buttonTwo {
    top: -2%;
    left: 0%;
  }

  .buttonThree {
    top: -2%;
    left: 3%;
  }
  .sec4tittle {
    font-size: 36px;
  }

  .p1 {
    font-size: 14px;
  }

  .image5 {
    left: 65%;
  }

  .image7 {
    left: 66%;
  }

  section4 img {
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    left: 45%;
    top: 15%;
  }

  .navBar .links {
    display: table-row-group;
    text-align: left;
    position: relative;
    top: 36%;
    left: -26%;
  }

  .buttonOne {
    padding: 15% 7% 15% 10%;
  }

  .navBar > .circle {
    margin-left: 0%;
  }

  .brands {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-items: self-start;
  }

  .options {
    grid-template-columns: 1fr 1fr;
    display: flex;
    position: relative;
    right: -244%;
    top: 114%;
  }

  footer .address p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin: 10% -45% 9% 0%;
  }

  footer {
    margin: 0%;
  }

  .Team {
    margin-top: 10%;
    margin-left: -362%;
    margin-right: 30%;
  }

  .Press {
    margin-top: 10%;
    margin-left: -362%;
    margin-right: 30%;
  }
}
